# rename to .env which is gitignored and safe for secrets
# you can source into your shell with:
# set -o allexport; source .env; set +o allexport

# Found under Features->OAuth & Permissions->Bot User OAuth Token
# Usually starts with 'xoxb-'
SLACK_BOT_TOKEN=

# Found under Settings->Basic Information->App-Level Tokens->Tokens
# If nothing is present here, you may need to generate it,
# Requires the `conections:write` permission.
SLACK_APP_TOKEN=

# Channel to post new tickets to
SLACK_REPORT_CHANNEL=bot-test

# Find this in the slack browser client URL when you have the channel open, it's the last URL component usually e.g. C01APTJAM7D
SLACK_REPORT_CHANNEL_ID=C01KHKNJUKE

JIRA_START_TRANSITION_ID=21
JIRA_DONE_TRANSITION_ID=41
JIRA_PROJECT=SBOX
JIRA_ISSUE_TYPE_ID=10900
JIRA_ISSUE_TYPE_NAME=Bug
JIRA_USERNAME=your-jira-username
# create token using this guide https://confluence.atlassian.com/enterprise/using-personal-access-tokens-1026032365.html
JIRA_API_TOKEN=your-jira-api-token
                                       
APP_INSIGHTS_INSTRUMENTATION_KEY=your-instrumentation-key
