# rename to .env which is gitignored and safe for secrets
# you can source into your shell with:
# set -o allexport; source .env; set +o allexport

SLACK_BOT_TOKEN=
SLACK_APP_TOKEN=
SLACK_REPORT_CHANNEL=bot-test
# find this in the slack browser client when you have the channel open
SLACK_REPORT_CHANNEL_ID=C01KHKNJUKE

JIRA_START_TRANSITION_ID=21
JIRA_DONE_TRANSITION_ID=41
JIRA_PROJECT=SBOX
JIRA_ISSUE_TYPE_ID=10900
JIRA_ISSUE_TYPE_NAME=Bug
JIRA_USERNAME=your-jira-username
JIRA_API_TOKEN=your-jira-api-token
